<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"
  data-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">{{curPage}}</li>
      </ol>
      <h6 class="font-weight-bolder mb-0">{{curPage}}</h6>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group input-group-outline">
          <label class="form-label">Tìm kiếm...</label>
          <input type="text" class="form-control"id="searchInput">
        </div>
      </div>
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item d-xl-none px-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a href="/PHCB-Quan/profile" class="nav-link text-body font-weight-bold px-0 d-flex align-items-center">
            {{!-- <i class="fa fa-user me-sm-1"></i> --}}
            <div class="avatar avatar-online pe-2" style="width: 40px; height: 40px;">
              <img
                src="{{#if user.imagePath}}{{user.imagePath}}{{else}}/PHCB-So/assets/img/avatars/0.jpeg{{/if}}"
                class="w-px-40 h-auto rounded-circle" style = "object-fit: cover"
              />
            </div>
            <span class="d-sm-inline d-none">{{user.fullName}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>